@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
	 font-family: "Open Sans", sans-serif;
  	font-size: 1em;
  	font-weight: 400px;
  	margin-left: 700px;
  	background-color: mediumpurple;
  
}
.h1{
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    transition: 0.3s;
    background: linear-gradient(135deg, #1e90ff, #0047ff)
}

img {
	height: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	
}
.botao1 {
	padding: 20px, 20px , 20px, 20px;
	 background-color: skyblue;
	border: 2px solid purple;
	border-radius: 5px;
	 width: 300px;      /* largura da caixa */
    height: 40px;      /* altura da caixa */
    font-size: 16px;   /* tamanho do texto */
}
container input {
	width: 320px;
	height: 320px;
	border: 2px solid cornflowerblue;
	border-radius: 6px;
}
#tabela {
	margin-top: 50px;
}
#tabela th {
	border: 2px solid  #ddd;
	padding: 15px;
	background-color: skyblue;
	color: white;
}
.botao7{
		padding: 20px, 20px , 20px, 20px;
	 background-color: red;
	border: 2px solid red;
	border-radius: 5px;
	 width: 300px;      /* largura da caixa */
    height: 40px;      /* altura da caixa */
    font-size: 16px;   /* tamanho do texto */
}
